.navbar {
  background-color: var(--theme-ui-colors-headerBg);
  margin: 0;
  min-width: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  position: relative;
  z-index: 10;

}

.nav-icons {
  display: flex;
  align-items: center;
  border-radius: 9999px;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  box-sizing: initial;
  color: var(--theme-ui-colors-omega);
  border-color: transparent;
  width: 24px;
  height: 24px;
  padding: 0.5rem;
  background-color: var(--theme-ui-colors-omegaLighter);
}

.nav-icons:nth-child(2) {
  margin-left: 1rem;
  margin-right: 1rem;

}

.nav-icons:hover {
  background-color: var(--theme-ui-colors-alpha);
  color: var(--theme-ui-colors-white);
}


.offcanvas-md.offcanvas-end {
  background-color: var(--theme-ui-colors-contentBg);
  width: 75%;
}

.offcanvas-body {
  padding: 1.5rem 4rem;
}



.offcanvas-cls-btn {
  position: relative;
  z-index: 2000;
  top: 1.8rem;
  left: -25%;
}

.offcanvas-backdrop {

  background-color: rgb(34, 34, 34);
  transition: opacity 0.5s cubic-bezier(0.77, 0, 0.175, 1) 0s !important;
}

.offcanvas-backdrop.show {
  opacity: .9;
}

.canvas-body {
  font-size: 1.25rem !important;
}

.canvas-body h2 {
  font-weight: bold;
  text-decoration: none;
  font-size: 17px;
  color: var(--theme-ui-colors-heading);
  margin-bottom: 13.6px;
}

.canvas-body .scn-h2 {
  padding-top: 2rem;
}


.canvas-body .split-canvas {
  border-bottom: 1px solid var(--theme-ui-colors-omegaLight);
  padding-bottom: 1rem;

}

.canvas-body .canvas-links p {
  margin: 0px 0px 0.5rem;

}

.canvas-body .canvas-links p a {
  font-size: 17px;
  display: inline-block;
  color: var(--theme-ui-colors-omegaDark);
  text-decoration: none;
  font-weight: normal;

}

.canvas-body .canvas-links p a:hover {
  color: var(--theme-ui-colors-alpha);
}



/* HTML elements */

@media (min-width: 576px) {

  .container {
    max-width: 100% !important;
  }

  .navbar {
    padding: 1.8rem;

  }



}

@media (min-width: 768px) {
  .navbar-ctn {
    max-width: 1140px !important;
    padding: 0 32px !important;
  }


  .nav-search {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    background-color: var(--theme-ui-colors-omegaLight);
    border-radius: 0.5rem;
    position: static;
    top: 2rem;
    left: 50%;
    transform: translate(0px, 0px);
    z-index: 99;
    border-style: solid;
    border-color: var(--theme-ui-colors-headerBg);
    border-width: 3px;
    padding: 0 16px;
    flex-basis: 30.5%;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .nav-search-input {
    margin: 0px 0px 0px 4px;
    min-width: 0px;
    display: block;
    width: 100%;
    padding: 10px 8px;
    border-radius: 4px;
    border: none;
    background-color: var(--theme-ui-colors-omegaLight);
    outline: none;
    cursor: pointer;
  }

  .nav-search-input::placeholder {
    color: var(--theme-ui-colors-omegaDark);

  }


  .nav-links-md {
    flex-basis: 30%;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: flex;

  }

  .nav-links-md a {
    font-weight: 700;
    display: inline-block;
    color: var(--theme-ui-colors-omegaDark);
    -webkit-text-decoration: none;
    text-decoration: none;
    padding: 0.25rem;
    margin: 0;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .nav-links-md a:hover {
    color: var(--theme-ui-colors-alpha);
  }

  .theme-toggler {
    border: 1px solid transparent;
    border-radius: 20px 20px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    line-height: 20px;
    overflow: hidden;
    padding: 0;
    position: relative;
    transition: all .3s cubic-bezier(.35, 0, .25, 1);
    vertical-align: middle;
    width: 50px;
    height: 24px;
    margin-left: 0.5rem;

  }

  .rc-switch {
    background: linear-gradient(45deg, #FF7D6B, #FFD64C);

  }

  .rc-switch-checked {
    background: linear-gradient(45deg, #3366FF, #AC15B8);

  }


  .rc-switch:after {
    animation-duration: .3s;
    animation-name: rcSwitchOff;
    animation-timing-function: cubic-bezier(.35, 0, .25, 1);
    background-color: #fff;
    border-radius: 50% 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .26);
    content: " ";
    cursor: pointer;
    height: 18px;
    left: 2px;
    position: absolute;
    top: 1px;
    transform: scale(1);
    transition: left .3s cubic-bezier(.35, 0, .25, 1);
    width: 18px;
  }


  .rc-switch-checked:after {
    animation-duration: .3s;
    animation-name: rcSwitchOff;
    animation-timing-function: cubic-bezier(.35, 0, .25, 1);
    background-color: #fff;
    border-radius: 50% 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .26);
    content: " ";
    cursor: pointer;
    height: 18px;
    right: 2px !important;
    position: absolute;
    top: 1px;
    transform: scale(1);
    transition: left .3s cubic-bezier(.35, 0, .25, 1);
    width: 18px;
  }

  .rc-switch:hover:after,
  .rc-switch-checked:hover:after {
    animation-name: rcSwitchOn;
    transform: scale(1.1)
  }



  .rc-switch-inner-checked {
    color: #fff;
    font-size: 12px;
    position: absolute;
    top: 0;
    left: -14px;
    transition: left .3s cubic-bezier(.35, 0, .25, 1);
  }

  .rc-switch-inner-unchecked {
    color: #fff;
    font-size: 12px;
    position: absolute;
    top: 0;
    right: -16px;
    transition: right .3s cubic-bezier(.35, 0, .25, 1);
  }


  .rc-switch-checked .rc-switch-inner-checked {
    left: 2px;
  }

  .rc-switch .rc-switch-inner-unchecked {
    right: 2px;
  }






  @keyframes rcSwitchOn {
    0% {
      transform: scale(1)
    }

    50% {
      transform: scale(1.25)
    }

    to {
      transform: scale(1.1)
    }
  }

  @keyframes rcSwitchOff {
    0% {
      transform: scale(1.1)
    }

    to {
      transform: scale(1)
    }
  }


}